# The files matching the patterns below will be ignored by git
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# ignore temporary files created by emacs, etc.
*~
\#*

# text and latex files
*.aux 
*.dvi 
*.toc
*.log
*.ps
*.toc
*.idx
*.ind
*.ilg
*.out
*.pdf
*.txt
*screen*

**/.DS_Store
**/*.gz

# coverage files
*.cov
*.mem
*.vscode

#Manifest data
*Manifest.toml

#scratches and old data
examples/.ipynb_checkpoints
src/minimizenodes.jl
examples/sandbox.ipynb
quadrature_data/test
quadrature_data/old
src/sandbox.jl
docs/build
clean_env/
