name: Docs
on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - uses: julia-actions/julia-buildpkg@v1
      # uncomment the block below to build documentation
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} 
        run: |
          julia --project=docs -e 'import Pkg; Pkg.develop(path="."); Pkg.instantiate()'
          julia --project=docs docs/make.jl